<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Member Sign Up</title>
    <style>
        *{
            box-sizing:border-box;
            padding: 1px 1px
        }
    </style>
</head>
<body>
    <h1>Add New Member</h1>

    <form action="addrecord/" method="post">

        {% csrf_token %}

        <div>
            <div>First Name:</div>
            <input name="first" />
        </div>

        <div>
            <div>Last Name:</div>
            <input name="last" />
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>

    </form>
</body>
</html>